[Desktop Entry]
Version=1.0
Type=Application
Name=XIVLauncher Core
Comment=Cross-platform launcher for Final Fantasy XIV with Dalamud support
Exec=$HOME/XIVLauncher-x86_64.AppImage
Icon=$HOME/xivlauncher.png
Terminal=false
Categories=Game;
StartupNotify=true
MimeType=

